img{
	position: top;
	width: 100%;

}
input{
	position: top;
	width: 100%;

}


a{
	
	background-size: absolute;

	border-size: 12px;
	border-color: rgb(1 1 1);
	
	

	font-variant-position: center;
	font-color: rgb(1 1 1);
   
   font-position: center;
   font-variant: small-caps;
   font-style: initial;
   font-family: Calibri;
   font-size: 400%;
   text-decoration: none;
   
   
}

h1{
	background-color: rgb(240 240 240);
	padding-bottom: 10px;
	padding-top: 10px;
	
}
.call{
	text-align: center;
	position: center;
	background-size: absolute;

	border-size: 12px;
	border-color: rgb(1 1 1);
	
	

	font-variant-position: center;
	font-color: rgb(1 1 1);
   
   font-position: center;
   font-variant: small-caps;
   font-style: initial;
   font-family: Calibri;
   font-size: 400%;
   text-decoration: none;
}
